html {
    font-size: 62.5%
}
body {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 1.8;
    color: #2E2729;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
a {
    color: #1EAEDB
}
a:hover {
    color: #0FA0CE
}
button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
  	margin-bottom: 1rem
}
button:hover {
    color: #333;
    border-color: #888;
    outline: 0
}
ul {
    list-style: circle inside;
    padding-left: 0;
    margin-top: 0
}
.list {
    background: #fff;
    border-radius: 0.5em;
    padding: 1em 1em;
    display: inline-block;
    width: auto
}
.list li {
    list-style: none;
    background: #d1703c;
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 2em;
    padding: 0 0.5em;
    margin: 0;
    overflow: hidden;
    line-height: 2em;
    width: 10em
}
.list li:hover {
    cursor: crosshair
}
.list.swing {
    -webkit-perspective: 100px;
    perspective: 100px
}
.list.swing li.enter,
.list.swing li.leave {
    height: 0;
    border-width: 0;
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.list.swing li {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: all 0.5s cubic-bezier(0.36,-0.64,0.34,1.76)
}